<div id="bucket_list">

  <div id="destinations">
    <h3><%= render @destinations %></h3>
  </div>

  <div id="input-todo">
  </div>

  <div class="add-destination">
    <%= link_to "Add Destination", "#"%>
  </div>

  <div class="modal"> 
    <%= form_for @destination, :remote => true do |f|  %>
      <%= field_set_tag do %>
      <%= f.label :name %>
    <%= f.text_field :name %>
  <% end %>

    <%= field_set_tag do %>
      <%= f.label :image_url,"Image Url"%>
      <%= f.text_field :image_url %>
  <% end %>

    <%= f.submit "Create Destination" %>
    <%= f.submit "Add To Do Item" %>
  <% end %>
</div>

  </div>
</div>
