<div id="wrapper">
<div id="bucket_list">

  <div id="destinations">
    <% @destinations.each do |destination| %>
      <%= render :partial => "destinations/destination", :locals => { :destination => destination } %>
      <% end %>
  </div>

  <div class="add-destination">
    <%= link_to "Add Destination", "#"%>
  </div>

  <div class="add-todo">
    <%= link_to "Add To Do Item ", "#"%>
  </div>

  <div class="modal"> 
    <%= form_for @destination, :remote => true do |f|  %>
      <%= field_set_tag do %>
      <%= f.label :name %>
    <%= f.text_field :name %>
  <% end %>

    <%= field_set_tag do %>
      <%= f.label :image_url,"Image Url"%>
      <%= f.text_field :image_url %>
  <% end %>

    <%= f.submit "Create Destination" %>
  <% end %>
</div>

  </div>
</div>

<section id="map-canvas">
</section>
</div>
